.adminRequests {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reqContainerAdmin {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.reqBody {
  align-items: center;
  border-radius: 4px;
  background-color: #8694a674;
  box-shadow: 4px 4px 10px rgb(97, 97, 97);
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  padding: 1px 10px;
  width: 300px;
  height: 125px;
}

.reqId {
  width: 10px;
}

.reqInfo p {
  align-items: center;
  display: flex;
  gap: 20px;
  width: 175px;
}

.reqLeft {
  display: flex;
  align-items: center;
}

.reqsBtn {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-left: 20px;
}

.reqsBtn button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 70px;
}

.dltBtn {
  background-color: rgba(242, 55, 89, 0.5);
  transition: background-color .5s;
}

.dltBtn:hover {
  background-color: #f2375a;
  transition: background-color .5s;
}

.accBtn {
  background-color: rgba(102, 204, 0, 0.5);
  transition: background-color .5s;
}

.accBtn:hover {
  background-color: #6c0;
  transition: background-color .5s;
}

@media (min-width: 600px) {
  .adminRequests {
    padding-top: 0px;
  }

  .adminRequests h3 {
    padding-top: 0px;
    left: 0; 
    right: 0; 
    padding-left: 150px;
    margin-left: auto; 
    margin-right: auto; ;
  }

  .reqContainerAdmin {
    margin-left: 150px;
    justify-content: center;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}