.dashboardTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardTitle {
  margin-top: 70px;
}

.chart-container {
  display: flex;
  background-color: #d7d7d9e3;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  padding: 20px;
  margin: 4px;
  width: 80%;
  overflow-x: auto;
  box-shadow: 5px 5px 8px #d7d7d9e3;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.bar {
  width: 16px;
  position: relative;
  background-color: rgba(61, 90, 241, 0.2);
  margin-bottom: 5px;
}

.bar::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -7px;
  width: 7px;
  height: 100%;
  transform: skewY(45deg);
  transform-origin: top;
  background-color: rgba(61, 90, 241, 0.5);
}

.bar::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 7px;
  transform: skewX(45deg);
  transform-origin: top;
  background-color: rgba(61, 90, 241, 0.5);
}

.bar-label {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  width: auto;
}

@media (min-width: 600px) {
  .chart-container {
    display: flex;
    left: 0; 
    right: 0;
    margin-right: auto;
    margin-left: 26%;
    width: 60%;
  }

  .dashboardTitle {
    margin-top: 0px;
  }

  .dashboardTitle {
    padding-top: 20px;
    left: 0; 
    right: 0; 
    padding-left: 150px;
    margin-left: auto; 
    margin-right: auto; 
  }
}
