.userName {
  background-color: #515D73;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.catName {
  background-color: #65728C;
  padding: 0px 10px;
}

.updatedAt {
  background-color: #8694A6;
  padding: 0px 10px;
}

.createdAt {
  background-color: #8694A6;
  padding: 0px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboardUsers {
  margin-top: 50px;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.userTable {
  border-spacing: 0px 10px;
}

@media (max-width: 350px) {
  .updatedAt {
    display: none;
  }

  .updatedAtHead {
    display: none;
  }

  .catName {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 500px) {
  .createdAtHead {
    display: none;
  }

  .createdAt {
    display: none;
  }

  .updatedAt {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}






@media (min-width: 600px) {
  .userTable {
    width: 400px;
  }
}