.regUser {
  padding-top: 50px;
}

.errorText {
  color: red;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subBtn {
  border: none;
  margin-top: 10px;
  width: 75px;
}

@media (min-width: 600px) {
  .regUser {
    padding-top: 1px;
    left: 0; 
    right: 0; 
    padding-left: 150px;
    margin-left: auto; 
    margin-right: auto; 
  }
}