.userBody {
  background-color: #D7D7D9;
  height: 100vh;
}

.blurPage {
  color: transparent;
  text-shadow: 0 0 4px #000;

}

.addBtn {
  background-color: #65728C;
  border: none;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  color: #222326;
  padding: 7px 7px;
}

.catList {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
}

ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style-type: none;
 }

.regOneMore {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.regOneMore button {
  width: 100px;
}

@media (min-width: 600px) {
  .catList {
    margin-left: 25px;
  }
}